<!-- Meta data -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{{ template:metadata }}
<title>{{ settings:site_name }} &bull; {{ template:title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="height=device-height, initial-scale=1">

<!-- CSS Stylesheets -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
{{ theme:css file="eeg.css" }}
{{ theme:css file="eeg-desktop.css" }}
{{ theme:css file="global.css" }}

<!-- icons for iPhone -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset:image_url file="theme::ico/apple-touch-icon-144-precomposed.png" }}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset:image_url file="theme::ico/apple-touch-icon-114-precomposed.png" }}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset:image_url file="theme::ico/apple-touch-icon-72-precomposed.png" }}">
<link rel="apple-touch-icon-precomposed" href="{{ asset:image_url file="theme::ico/apple-touch-icon-57-precomposed.png" }}">
<link rel="shortcut icon" href="{{ asset:image_url file="theme::ico/favicon.png" }}">
		